<div class="main-panel">
    <h1 class="titre-paiement">Formulaire de Paiement</h1>
    <form (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="lastname">Nom :</label>
        <input type="text" id="lastname" name="lastname" [(ngModel)]="user.lastname" required>
      </div>
      <div class="form-group">
        <label for="firstname">Prénom :</label>
        <input type="text" id="firstname" name="firstname" [(ngModel)]="user.firstname" required>
      </div>
      <div class="form-group">
        <label for="adress">Adresse :</label>
        <input type="text" id="adress" name="adress" [(ngModel)]="user.adress" required>
      </div>
      <div class="form-group">
        <label for="zipcode">Code Postal :</label>
        <input type="text" id="zipcode" name="zipcode" [(ngModel)]="user.zipcode" required>
      </div>
      <div class="form-group">
        <label for="city">Ville :</label>
        <input type="text" id="city" name="city" [(ngModel)]="user.city" required>
      </div>
      <div class="form-group">
        <label for="card">Numéro de Carte :</label>
        <input type="text" id="card" name="card" [(ngModel)]="user.card" required>
      </div>
      <div class="form-group">
        <label for="cardDate">Date de Validité de la Carte :</label>
        <input type="text" id="cardDate" name="cardDate" [(ngModel)]="user.cardDate" required>
      </div>
      <button type="submit" class="btn-submit" >Valider</button>
    </form>
  </div>
  